<footer class="footer_home">

    <div class="footer_home__info">
        <div>
            <h2 class="footer_home__info-text">POLÍTICAS</h2>
            <h3 class="footer_home__info-text">Políticas de privacidad</h3>
            <h3 class="footer_home__info-text">Políticas de cambio</h3>
            <h3 class="footer_home__info-text">Políticas de envío</h3>
            <h3 class="footer_home__info-text">Términos y condiciones</h3>
            <h3 class="footer_home__info-text">Responsabilidad social</h3>
        </div>

        <div>
            <h2 class="footer_home__info-text">SOBRE NOSOTROS</h2>
            <h3 class="footer_home__info-text">Encuentra tu tienda</h3>
            <h3 class="footer_home__info-text">Contáctanos</h3>
            <h3 class="footer_home__info-text">Trabaja con nosotros</h3>
        </div>
        <div class="footer_home__info__follow">
            <h2 class="footer_home__info__follow-text">SÍGUENOS EN:</h2>

            <img class="footer_home__info__follow-icon" src="./assets/images/icon-facebook.svg" alt="icon-facebook">
            <img class="footer_home__info__follow-icon" src="./assets/images/icon-twitter.svg" alt="icon-twitter">
            <img class="footer_home__info__follow-icon" src="./assets/images/icon-instagram.svg" alt="icon-instagram">
            <img class="footer_home__info__follow-icon" src="./assets/images/icon-youtube.svg" alt="icon-youtube">

        </div>

    </div>
    <hr class="footer_home-hr">
    <div class="footer_home__copyright">
        <h4 class="footer_home__copyright-text">© Copyright Colombia. Todos los derechos reservados</h4>
    </div>

</footer>

<footer class="footer_responsive">
    <div class="footer_responsive__item">
        <h2>POLÍTICAS</h2>
        <i class="footer_responsive__item-plus fas fa-plus"></i>
    </div>
    <hr class="footer_responsive-hr">
    <div class="footer_responsive__item">
        <h2>SOBRE NOSOTROS</h2>
        <i class="footer_responsive__item-plus fas fa-plus"></i>
    </div>
    <hr class="footer_responsive-hr">
    <div class="footer_responsive__item">
        <h2>MEDIOS DE PAGO</h2>
        <i class="footer_responsive__item-plus fas fa-plus"></i>
    </div>
    <hr class="footer_responsive-hr">
    <div>
        <h2>SÍGUENOS EN:</h2>
        <img class="footer_responsive-icon" src="./assets/images/icon-facebook.svg" alt="icon-facebook">
        <img class="footer_responsive-icon" src="./assets/images/icon-twitter.svg" alt="icon-twitter">
        <img class="footer_responsive-icon" src="./assets/images/icon-instagram.svg" alt="icon-instagram">
        <img class="footer_responsive-icon" src="./assets/images/icon-youtube.svg" alt="icon-youtube">
    </div>
    <div class="footer_responsive__copyright">
        <h5>© Copyright Colombia. Todos los derechos reservados</h5>
    </div>

</footer>
