<section class="main_banner">
  <img class="main_banner-image" src="./assets/images/banner-principal.jpg" alt="banner-principal">
</section>

<section class="main_banner_responsive">
  <img class="main_banner_responsive-image" src="./assets/images/banner-principal-mobile.jpg" alt="banner-principal">
</section>


<section class="images_section">
  <img class="images_section-image left_image top_image" src="./assets/images/banner-moda-infantil.jpg"
    alt="banner-moda-infantil">
  <img class="images_section-image right_image" src="./assets/images/banner-deportivo.jpg" alt="banner-deportivo">
</section>

<app-most-wanted class="app_most_wanted-desktop"></app-most-wanted>
<app-most-wanted class="app_most_wanted-mobile" [amountToShow]="1"></app-most-wanted>
